.signin-container {
    height: 80vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container {
    width: 450px;
    border: 1px dashed black;
    border-radius: 10px;
    padding: 20px;
}

.form-spacing {
    margin: "13px 0";
}